rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read and write access to all paths
    // WARNING: This is a permissive rule for development.
    // You should secure your data further for a production environment.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
