rules_version = '2';

// Caution: These rules are permissive and are meant for initial development.
// For a production application, you should implement more granular security
// rules to protect your data, for example by restricting write access to
// authenticated admin users.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write;
    }
  }
}
