@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}


@layer base {
  :root {
    --background: 20 14% 98%;
    --foreground: 24 10% 10%;
    --card: 20 14% 98%;
    --card-foreground: 24 10% 10%;
    --popover: 20 14% 98%;
    --popover-foreground: 24 10% 10%;
    --primary: 142 76% 36%;
    --primary-foreground: 356 72% 98%;
    --secondary: 24 6% 90%;
    --secondary-foreground: 24 10% 10%;
    --muted: 24 6% 90%;
    --muted-foreground: 24 6% 45%;
    --accent: 24 6% 90%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 356 72% 98%;
    --border: 24 6% 85%;
    --input: 24 6% 85%;
    --ring: 142 76% 36%;
    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 24 10% 10%;
    --foreground: 20 14% 98%;
    --card: 24 10% 10%;
    --card-foreground: 20 14% 98%;
    --popover: 24 10% 10%;
    --popover-foreground: 20 14% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 356 72% 98%;
    --secondary: 24 4% 16%;
    --secondary-foreground: 20 14% 98%;
    --muted: 24 4% 16%;
    --muted-foreground: 24 4% 65%;
    --accent: 24 4% 16%;
    --accent-foreground: 20 14% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 20 14% 98%;
    --border: 24 4% 16%;
    --input: 24 4% 16%;
    --ring: 142 76% 36%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
